<div class="container">
  <form (ngSubmit)="onSubmit()" class="containerForm">

    <h3>Información básica</h3>
    <div class="form-group">
      <label for="numeroDocumento">Primer Nombre:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.primerNombre" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Segundo Nombre:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.segundoNombre" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Primer Apellido:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.primerApellido" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Segundo apellido:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.segundoApellido" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Teléfono:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.telefono" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Dirección:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.direccion" required>
    </div>
    <div class="form-group">
      <label for="numeroDocumento">Ciudad de residencia:</label><br />
      <input type="text" class="form-control" [disabled]="true" [value]="datosConsulta.ciudadResidencia" required>
    </div>

    <div class="containerbutton">
      <button type="submit" class="btn btn-primary">Volver</button>
    </div>
  </form>
</div>
